<main>
  <form class="login-form" action="" method="">
    <div class="form-control">
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" />
      <label for="password">New Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <input type="hidden" name="token" value="<%= Token %>" />
    <input type="hidden" name="userId" value="<%= userId %>" />
    <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
    <button class="btn" type="submit">Update Password</button>
  </form>


  <script>
    $(document).ready(function () {
        $('.login-form').on('submit', function (event) {
            event.preventDefault();

            const email = $('#email').val();
            const newPassword = $('#password').val();

            $.ajax({
                url: '/auth/postnew-password',
                type: 'POST',
                data: { email, newPassword },
                success: function (response) {
                    if (response.success) {
                        alert(response.msg);
                        window.location.href = '/auth/login';
                    } else {
                        alert(response.error);
                    }
                },
                error: function (error) {
                    console.error("Error getting update password!", error);
                }
            })
        })
    })
  </script>
</main>